body {
  font-family: "Franklin Gothic Medium", Arial;
  font-size: 18px; /* als Basis nehmen */
  line-height: 1.5;
}
button,
input,
textarea {
  font-family: inherit; /* damit diese auch die Schriftart vom body übernehmen */
}
.layout {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 5.5rem;
}
div,
p {
  font-size: 1rem; /* gleich wie bei Body definiert */
}
.container {
  border: 1px solid black;
  width: 90%; /* Damit bei Handys beim Rand nicht zu viel Platz gibt */
  max-width: 55.5rem;
  margin: 0 auto; /* Damit es in der Mitte zentriert ist */
  box-sizing: border-box;
}
h1 {
  font-size: 2rem;
  margin-bottom: 2.7rem;
}
h2 {
  font-size: 1.5rem;
}

figcaption {
  font-size: 1rem;
}
figure {
  margin: 0; /* Damit es von figure keinen automatischen Abstand gibt beim Bild rechts */
}

.menu {
  background-color: #b1decb;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 9rem;
  justify-content: flex-start;
  gap: 2rem;
  padding-left: 0; /* Damit Menü links angeordnet ist */
}
nav ul li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem /* 10px */;
  margin-bottom: 0rem;
}
nav ul li a {
  text-decoration: none;
  font-family: "Franklin Gothic Medium", Arial;
  color: black;
}
.button {
  border-radius: 1rem;
  border: none;
  padding: 0.7rem;
  background-color: white;
}
footer {
  background-color: #ceeade;
  height: 11rem;
  align-content: center; /* Dass Icons und Text in der Mitte vom Footer sind */
}

footer ul {
  display: flex;
  list-style: none;
  padding-top: 0.5rem;
  align-items: center; /* damit die Icons und der Text auf gleicher Linie sind */
  justify-content: center; /* um mittig anzuordnen */
}
footer ul li {
  padding: 10px;
  padding-bottom: 0.5rem;
  margin-bottom: 0px;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
}
.icon {
  height: 2.2rem;
}
.content2 img {
  width: 100%;
  max-width: 13.8rem;
  height: auto;
}
.witze {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin-left: 6rem;
  margin-right: 6rem;
  justify-items: center;
}
.witze img {
  width: 100%;
  max-width: 22.2rem;
}

.witze img {
  width: 100%;
  display: block;
  height: auto;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
  border: 1px solid black;
}
.content1 {
  order: 1;
  margin-bottom: 1rem;
  margin-top: 2.7rem;
}
.content2 {
  order: 2;
}
.text {
  margin-top: 3.8rem;
}

.uebermichBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.uebermichBilder {
  max-width: 13.8rem;
  justify-self: end;
}
.uebermichBilder img {
  width: 100%;
  height: auto;
}

.uebermichSchulbildung {
  display: flex;
  gap: 2.2rem;
}
.uebermichBeruf {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.uebermichBeruf img {
  margin-left: auto; /* damit es rechts angeordnet ist */
  width: 100%;
  max-width: 14rem;
  height: min-content; /* dass das Bild nicht in die Höhe verzerrt ist */
}

/* Fähigkeiten */
.video {
  display: flex;
  justify-content: center;
  margin-top: 4.5rem;
}

.video iframe {
  width: 100%;
  max-width: 50rem;
  aspect-ratio: 16 / 9;
  height: auto;
}

/* Portfolio */
.portfolioProjekte {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3.8rem;
}

.portfolio-img {
  display: flex;
  flex-direction: column;
  justify-self: right;
}

.kontaktformular {
  background-color: rgb(221, 217, 217);
  width: 100%;
  max-width: 30rem;
  justify-self: center;
  padding: 4rem;
  height: auto;
  box-sizing: border-box;
}
.kontaktInhalt {
  justify-self: center;
}
.kontaktInhalt input {
  width: 100%;
  height: 2.2rem;
  background-color: #ceeade;
  box-sizing: border-box;
}
.kontaktdaten {
  width: 100%;
  max-width: 22.2rem;
  margin-top: 2.7rem;
}
.kontaktInhalt textarea {
  background-color: #ceeade;
  height: 4.5rem;
  width: 100%;
  border: 2px solid black;
  box-sizing: border-box;
}
.kontaktInhalt button {
  border-radius: 0.6rem;
  border: none;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: white;
}
button:hover {
  background-color: #b1decb;
}
.kontakt-seite {
  /* Dass die ganzen Elemente auf der Seite Kontakt unteinander und zentriert sind */
  display: flex;
  flex-direction: column;
  justify-self: center;
}

/* Media Queries */

@media (max-width: 768px) {
  /* für Tablets nur noch eine Spalte machen */

    .layout {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .container {
        width: 100%;
    }
    .witze {
        grid-template-columns: 1fr;
    }
    .content {
        flex-direction: column;
    }
    .uebermichBlock {
        flex-direction: column;
    }
        .portfolioProjekte {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .portfolio-img img {
        width: 100%;
        max-width: 22rem;
        height: auto;
    }
}

@media (max-width: 480px) {
  /* für Handys nur noch eine Spalte machen */
  .layout {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  nav ul {
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    align-items: flex-start;
  }
  .menu {
    width: 100%;
  }
  footer {
    height: auto;
  }
  footer ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 0;
  }
  .container {
    width: 100%;
  }
  .content2 img {
    width: 100%;
    max-width: 6rem;
    height: auto;
  }
  .witze {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 1rem;
    justify-self: center;
  }
  .witze img {
    width: 100%;
    max-width: 10rem;
  }

  .witze img {
    width: 100%;
    display: block;
    height: auto;
  }
  .uebermichBlock {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .uebermichBeruf {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .uebermichBeruf img {
    margin-left: 0;
    width: 100%;
    max-width: 10rem;
    height: auto;
  }
  .video {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }
  .portfolioProjekte {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .portfolio-img {
    display: block; /* normale Standardanzeige dass es kein flex mehr ist */
  }
  .portfolio-img img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }
  .portfolioProjekte > div:empty {
    display: none; /* damit man das leere div nicht mehr sieht */
  }
  .kontaktformular {
    padding: 1rem;
  }
}
@media (max-width: 2000px) {
  .container {
    border: 1px solid black;
    width: 90%;
    max-width: 100rem; /* damit der Schreibbereich nicht so gross ist  bei grösseren Bildschirmen */
    margin: 0 auto; /* Damit es in der Mitte zentriert ist */
    box-sizing: border-box;
  }
}
